# compiled output
/dist
/node_modules
/.pnpm-store
/database/db-data
/docker/nginx/certificates/own-ca/*
!/docker/nginx/certificates/own-ca/.generate-certificates
/docker/nginx/certificates/self-signed/*
!/docker/nginx/certificates/self-signed/cert.conf
!/docker/nginx/certificates/self-signed/.generate-certificates
/src/metadata.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
